.main {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px;
  background-color: #939b02;
  margin: 10px;
  border-radius: 12%;
}

.dropdown-content {
  display: inline-block;
  padding-left: 10;
  /* background-color: #c1e920; */
  color: rgb(81, 69, 0);
  cursor: pointer;
}