.main {
    position: relative;
    cursor: pointer;
    border: #007bff;
  }
  
  .opendisk-toggle {
    cursor: pointer;
    padding: 10px;
    background-color: #939b02;
    margin: 5px;
    border-radius: 12%;
  }
  
  .opendisk-content {
    display: block;
    padding-left: 20px;
    color: white;
    cursor: pointer;
  }
