<p>input-form works!</p>

<a style="color: black;" href="http://localhost:4200/CreateformjsonComponent"></a>
<button style="color: black;"><a style="color: black;" href="http://localhost:4200/listJson"></a></button>
<button style="color: black;"><a style="color: black;"href="http://localhost:4200/detailJson"></a></button>
<!--

    <div (click)="gotourl('CreateformjsonComponent')" [class.selected]="url === '/CreateformjsonComponent'">Create jsonComponent</div>
    <div (click)="gotourl('listJson')" [class.selected]="url==='/listJson'">List jsonComponent</div>
    <div (click)="gotourl('detailJson')" [class.selected]="url==='/detailJson'">Detail jsonComponent</div>
-->